.header {
  .container {
    max-width: 1240px;
    padding: 0px 20px;
    margin: 0 auto;
  }

  .main-navigation {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 2rem;

    &__link {
      a {
        text-decoration: none;
      }
    }
  }
}